.popup {
  position: fixed;
  overflow: hidden;
  inset: 0;
  z-index: 6;
  visibility: hidden;
  opacity: 0;
}
.popupActive {
  visibility: visible;
  opacity: 1;
}

.popupContent {
  background-color: rgba(237, 241, 255, 1);
  padding: 25vh 24px 24px;
  height: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  z-index: 4;

}

:host-context(#dark) {
  .popupContent {
    background-color: #3e3e42;
    ul li a {
      color: whitesmoke !important;
    }
  }
}
