.header-wrapper {
  position: relative;
}
header {
  padding-top: 8px;
}

.first-line {
  z-index: 15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #0078b1;
  padding: 12px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 0;
  border-bottom: 1px solid rgba(185, 185, 185, 0.4);
  padding-bottom: 12px;

  a {
    &:not(:last-of-type) {
      margin-right: 12px;
    }
    display: flex;
    font-size: 14px;
    width: calc(100% / 7 - 12px);
    padding: 25px;
    min-height: 50px;
    text-align: center;
    box-shadow: none;
    border: 0.5px solid rgba(185, 185, 185, 0.3);

    border-radius: 8px;
    &::after {
      background-color: red;
    }
  }
}

.activeLink {
  background-color: #e8f6ff !important;
}

.mat-mdc-button-base {
  background-color: transparent;
  width: 34px;
  height: 34px;
}
.mat-mdc-fab {
  box-shadow:
    0 0 5px -1px rgba(0, 0, 0, 0.2),
    0px 0px 10px 0px rgba(0, 0, 0, 0.14),
    0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

:host-context(#dark) {
  .first-line {
    box-shadow: none !important;
    background-color: #3e3e42 !important;
  }
  .main-nav {
    a {
      background-color: #3e3e42;
      color: whitesmoke !important;

      &:hover {
        background-color: #65656c;
      }
    }
  }
  .activeLink {
    background-color: #75757e !important;
  }
  .mobile-menu-link {
    color: whitesmoke !important;
  }
}
.icons-keeper {
  display: flex;
  > *:not(:last-child) {
    margin-right: 12px;
  }
  a {
    mat-icon {
      color: white;
    }
  }
}
.mat-mdc-fab:focus {
  box-shadow:
    0 0 8px -1px rgba(0, 0, 0, 0.2),
    0 0 14px 0 rgba(0, 0, 0, 0.14),
    0 5px 18px 0 rgba(0, 0, 0, 0.12);
}
.mobileMenuList {
  z-index: 3;
  li {
    margin-bottom: 12px;
    font-size: 18px;
  }
}
.mobileMenu {
  display: none;
}
.logo {
  max-width: 40px;
  margin-right: 16px;
}
.logo-text {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 500;
  color: whitesmoke;
  letter-spacing: 0.3em;
}
.mobileMenuList {
  li {
    display: flex;
    a {
      width: 100%;
      padding: 8px;
      background-color: white;
      border-radius: 8px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .main-nav {
    a {
      font-size: 12px !important;
    }
  }
}
@media screen and (max-width: 900px) {
  .header-wrapper {
    position: static;
  }
  .mobileMenu {
    display: inline-flex;
  }
  .main-nav {
    display: none;
  }
  .logo {
    max-width: 35px;
    margin-right: 8px;
  }
  .logo-text {
    font-size: 16px;
  }
  .first-line {
    max-height: 60px;
  }
}
:host-context(#dark){
  .mobileMenuList {
    li a{

        background-color: #3e3e42;

    }
  }
}
