@import "contacts.media";
.ulContacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -16px;
  width: 100%;

}
.liContacts {

  width: calc(100% / 3 - 16px);
  &:not(:nth-child(3)){
    margin-right: 16px;
  }
  border-radius: 8px;
  margin-bottom: 20px ;
  padding: 20px;
  background-color: white;

  box-shadow: 0 0 15px -4px rgba(119, 136, 153, 0.27);
}
.contactLink{
  color: #4656a9 !important;
  font-weight: 500;
  position: relative;
  transition: transform .2s ease;

  &:hover {
    transform: translateX(2px);
    &::after{

      opacity: 1;
      transition: opacity .2s ease;
    }
  }
  &::after{
    content: '';
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    height: .2px;
    width: 100%;
    background-color: #4656a9;
    opacity: 0;
  }

}
.innerList {
  li{
    margin-bottom: 8px;
  }
}

:host-context(#dark){
  .liContacts {
    background-color: #3e3e42;
    box-shadow: none  ;
    a{
      color: whitesmoke!important;
      &::after{
        content: '';

        background-color: whitesmoke!important;
      }
    }
  }
}
