@import "content";
@import "contacts.media";
.contacts{
  &__wrapper{

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }

  &__button{

    margin-top: 16px;
    margin-bottom: 32px;

  }
}
.ulContacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -16px;
  width: 100%;

}

.contactLink{
  color: #4656a9 !important;
  font-weight: 500;
  position: relative;
  transition: transform .2s ease;

  &:hover {
  transform: translateX(2px);

  &::after{
    opacity: 1;
    transition: opacity .2s ease;
  }
}
    &::after{
      content: '';
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      height: .2px;
      width: 100%;
      background-color: #4656a9;
      opacity: 0;
      }

}
.innerList {
  li{
    margin-bottom: 8px;
  }
}
.liContacts {

  width: calc(100% / 3 - 16px);
  &:not(:nth-child(3)){
    margin-right: 16px;
  }
  border-radius: 8px;
  margin-bottom: 20px ;
  padding: 20px;
  background-color: white;
  box-shadow:  0 0 15px -4px rgba(119, 136, 153, 0.57), inset 0px 0px 21px 4px rgba(255, 255, 255, 0.64);
}
.contacts__button {
  box-shadow: none;
  border: 0.5px solid transparent;

  &:hover {
    box-shadow: 0px 0px 24px -11px rgba(66, 68, 90, 1);
    border: 0.5px solid rgba(66, 68, 90, .1);

  }
}
:host-context(#dark){
  .contacts__button {
    background-color: #3e3e42;
    color: whitesmoke;
  }
  .liContacts{
    background-color: #3e3e42!important;
    box-shadow: none;
    a {
      color: whitesmoke!important;
      &::after{
        content: '';
        background-color: whitesmoke!important;
      }
    }
  }
}


