.content-box {
  display: flex;
  height: 100%;
  min-width: 100%!important;
  width: 100%;
  padding: 16px;
  box-shadow:  0 0 15px -4px rgba(119, 136, 153, 0.57), inset 0px 0px 21px 4px rgba(255, 255, 255, 0.64);
  border-radius: 8px;
}
:host-context(#dark){
  .content-box{
    background-color: #3e3e42;
    box-shadow: none;
  }
}
@media screen and (max-width: 900px) {
  .content-box {
    padding: 16px 8px;
  }
}
