.container-custom {
  background-color: rgba(251, 251, 251, .95);
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-bottom: auto;
  overflow: auto;
}


:host-context(#dark){
  .container-custom{
    background-color: #252526 !important;
  }
}
@media screen and (max-width: 900px) {
  .container-custom {
    padding-top: 110px;

  }
}
